 body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      color: #333;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .container {
      max-width: 900px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
      box-sizing: border-box;
    }
    .entry {
      margin-bottom: 15px;
    }
    .entry label {
      display: block;
      margin-bottom: 5px;
      text-align: left;
    }
    .entry input, .entry select {
      width: calc(100% - 30px); /* Adjusted for increased padding */
      padding: 15px; /* Increased padding for larger touch targets */
      font-size: 18px; /* Larger font size for better readability */
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    .entry-row {
      display: flex;
      flex-direction: column;
    }
    .delete-entry {
      background-color: #dc3545;
      color: white;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      padding: 5px 10px;
      text-align: center;
      margin-top: 10px;
      align-self: flex-end;
    }
    .delete-entry:hover {
      background-color: #c82333;
    }
   

    .error {
    border: 2px solid red; /* Highlights the border of the input field in red */
    background-color: #ffe6e6; /* Optional: Sets a light red background color for the input field */
    }

    /* General button styles */
    .button, .SUBbutton, .VERbutton {
    padding: 15px 25px;
    font-size: 20px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    color: #fff; /* White text */
   }

   /* Specific styles for different button types */
   .startbutton { background-color: #28a745 !important; } /* Green */
   .stopbutton { background-color: #dc3545 !important; } /* Red */

   .button { background-color: #007bff; } /* Default button */
   .button:hover { background-color: #0056b3; }

   .SUBbutton { background-color: #50c878; } /* Submit button */
   .SUBbutton:hover { background-color: #3f704d; }

   .VERbutton { background-color: #9146FF; } /* Verify button */
   .VERbutton:hover { background-color: #7851A9; }

ror message display */
   #error-message {
    color: red; /* Text color for the error message */
    margin-top: 10px; /* Spacing above the error message */
    display: none; /* Initially hidden, shown only when there are errors */
    }

    #verificationTable {
      width: 100%;
      border-collapse: collapse;
      box-sizing: border-box;
    }
    #verificationTable, #verificationTable th, #verificationTable td {
      border: 1px solid #ccc;
    }
    #verificationTable th, #verificationTable td {
      padding: 10px;
      text-align: left;
    }
    #verificationSection {
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      margin-top: 20px;
      text-align: left;
    }
    #verificationSection p {
      text-indent: 20px;
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: left;
      font-size: 14px;
    }
    #signature {
      width: calc(100% - 30px); /* Adjusted for increased padding */
      padding: 15px; /* Increased padding */
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 18px; /* Increased font size */
    }
   #barcode-scanner {
    width: 100%; /* Full width of the container */
    max-width: 500px; /* Maximum width */
    height: 300px; /* Set a fixed height for the scanner area */
    margin: 20px auto; /* Center align and add some margin */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #ffffff; /* Box shadow for a subtle depth effect */
   }
